.video-carousel {
  position: relative;
  width: 100dvw;
  overflow: hidden;
  .video-players {
    display: grid;
    width: 300%;
    margin-left: -100%;
    grid-template-columns: 1fr 1fr 1fr;
    &.uno {
      grid-template-areas: "giraffe elephant zebra";
    }
    &.dos {
      grid-template-areas: "elephant zebra giraffe";
    }
    &.tres {
      grid-template-areas: "zebra giraffe elephant";
    }

    user-select: none;
    will-change: translate;
    .elephant {
      grid-area: elephant;
    }
    .zebra {
      grid-area: zebra;
    }
    .giraffe {
      grid-area: giraffe;
    }
  }
  .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background: url("/placeholder.png") no-repeat center,
      radial-gradient(
        circle at center center,
        hsla(261, 91.8%, 61.8%, 0.46),
        hsla(240, 52.9%, 93.3%, 0.5)
      ),
      repeating-radial-gradient(
        circle at center center,
        hsla(261, 91.8%, 61.8%, 0.46),
        hsla(261, 91.8%, 61.8%, 0.46),
        10px,
        transparent 20px,
        transparent 10px
      );
    background-blend-mode: multiply;
    opacity: 0.4;
  }
}

.debug {
  position: fixed;
  right: 0;
  bottom: 0;
  color: white;
  background: red;
}
