.video-carousel {
  .layer-container {
    display: grid;

    .top-layer,
    .bottom-layer {
      grid-column: 1;
      grid-row: 1;
    }

    .bottom-layer {
      pointer-events: none;
    }
  }

  .video-players {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    &.uno {
      grid-template-areas: "giraffe elephant zebra";
    }
    &.dos {
      grid-template-areas: "elephant zebra giraffe";
    }
    &.tres {
      grid-template-areas: "zebra giraffe elephant";
    }

    user-select: none;
    will-change: translate;
    & > div {
      border: red 1px solid;
    }
    .elephant {
      grid-area: elephant;
    }
    .zebra {
      grid-area: zebra;
    }
    .giraffe {
      grid-area: giraffe;
    }
  }
}
